@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}

.section {
  background-color: #6fC3DF;
  width: 30rem;
  height: 20rem;

  .div {
    display: flex;
    
    .headline {
      color: #FFF;
      font-family: Montserrat;
      font-size: 1.75rem;
      font-weight: 600;
      letter-spacing: 0.025rem;
      line-height: 2.8rem;
      transform: rotate(-90deg);
      text-align: center;
      width: 17rem;
    }


    .img {
      width: 15rem;
      height: 15rem;
      flex-shrink: 0;
    }
  }

}
.link {
  text-decoration: none;
}
.link:nth-of-type(odd){

  .img {
    order: -1
  }
}