@font-face {
  font-family: Montserrat;
  src: url(../../fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}
.link{
  color: #fff;
  font-family: Montserrat;
  font-size: 1rem;
  text-decoration: none;
}