@font-face {
    font-family: Montserrat;
    src: url(../../fonts/Montserrat/);
}
@font-face {
    font-family: Playfair;
    src: url(../../fonts/Playfair_display/PlayfairDisplay-VariableFont_wght.ttf);
}
.section {
    background-color: #262B46;
    width: 30rem;
    padding-top: 150px;
    padding-left: 30px;
    padding-bottom: 50px;

    .article {
        color: white;
        text-align: left;

        .headline {
            font-family: Playfair;
            font-size: 1.5rem;

            margin-bottom: 4rem;
            letter-spacing: 0.2rem;
            width: 27rem;
        }
        .p_text {
            font-family: Montserrat;
            font-size: 1rem;
            line-height: 1.6rem;

            width: 23rem;
        }
    }
}